<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	
		<div th:fragment="resultadosTheCoespFrag" id="resultadoTheCoesp" class="tab-pane fade">
			<div class="table-responsive">
				<table
					class="table  table-hover table-condensed table-striped table-resultados">
					<thead>
						<tr>
							<th>INSC.</th>
							<th>MATRÍCULA</th>
							<th>NOME</th>
							<th>CORRIDA 10KM</th>
							<th>SUBIDA CORDA</th>
							<th>TRANS. CARGA</th>
							
							<th></th>
						</tr>
					</thead>

					<tbody id="listaDetalhe">

						<tr th:each="resultado : ${resultadosTheCoesp}">
							<td th:text="${resultado.inscricao}"></td>
							<td th:text="${resultado.pessoa.matricula}"></td>
							<td th:text="${resultado.pessoa.nome}">Nome</td>
							<td	th:text="${resultado.corrida10km}">Corrida10km</td>
							<td	th:text="${resultado.subidaCorda}">Subida Corda</td>
							<td	th:text="${resultado.transporteCarga}">Trans. Carga</td>
							
							
							<td class="text-center"><a	class="btn-editar2"
								th:href="@{/testesFisicos/editaResultadoTemp/{id}(id=${resultado.id})}"
								th:attr="data-resultado=${resultado.id}"> <i
									class="glyphicon  glyphicon-pencil"></i>
							</a> <a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn"
								th:title="Excluir" href="#"
								th:attr="data-url=@{/testesFisicos/deleteResultado/{id}(id=${resultado.id})}, data-objeto=|o resultado de ${resultado.pessoa.nome}|">
									<i class="glyphicon glyphicon-remove"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
				
				<br>

			</div>
		</div>
	


</body>
</html>